# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env/
.venv/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
.qtcreator/

# Models cache and payloads
models/*.zip
models/*.pth
models/*.pt
models/*.ckpt
models/*/
model_store/cache/
model_store/downloads/
model_store/import_preferences.json
